<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>values</title>
</head>
<body>
<h1>{{substation.substation_name}}</h1>
<h4>HT side Values</h4>
<ul>
    <li>Current = {{substation.HT_CurrentValue}}<br></li>
    <li>Voltage = {{substation.HT_VoltageValue}}<br></li>
    <li>Power Factor = {{substation.HT_PowerFactor}}<br></li>
</ul>
<h4>LT side Values</h4>
<ul>
    <li>Current = {{substation.LT_CurrentValue}}<br></li>
    <li>Voltage = {{substation.LT_VoltageValue}}<br></li>
    <li>Power Factor = {{substation.LT_PowerFactor}}<br></li>
</ul>


</body>
</html>